# Task 1

In [66]:
name = 'Roya'

In [68]:
age = 20

In [70]:
avg = 91.5

In [228]:
my_dict = {"sale1": 120, "sale2": 130, "sale3": 110, "sale4": 150}

In [ ]:
my_dict.get

In [74]:
my_list = [7, 'black', 'cat', 19, 'Norway']

In [76]:
type(name), type(age), type(avg), type(my_dict), type(my_list)

(str, int, float, dict, list)

#### Data Types
'Roya' - string, 20 -integer, 91.5 - float, my_dict - dictionary, my_list - list

------------------------------------------------

In [79]:
name.lower()

'roya'

In [81]:
my_dict.keys()

dict_keys(['sale1', 'sale2', 'sale3', 'sale4'])

In [83]:
my_list.append("Paris")

In [85]:
my_list

[7, 'black', 'cat', 19, 'Norway', 'Paris']

In [28]:
help(my_list)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, index, /)
 |      Return self[index].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [32]:
help(my_list.remove)

Help on built-in function remove:

remove(value, /) method of builtins.list instance
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [87]:
my_list.remove("Paris")

In [89]:
my_list

[7, 'black', 'cat', 19, 'Norway']

#### Method
remove() method removes the first occured value it sees. For example if list has 2 same value, method removes first one.

---------------------------------

# Task 2

In [96]:
values = ["Micheal", "Tobby", "Pam", "Jim"]

In [98]:
alias = values

In [100]:
alias.append("Kevin")

In [102]:
alias

['Micheal', 'Tobby', 'Pam', 'Jim', 'Kevin']

In [104]:
values

['Micheal', 'Tobby', 'Pam', 'Jim', 'Kevin']

In [106]:
copy1 = values.copy()

In [108]:
copy1.append("Angela")

In [110]:
copy1

['Micheal', 'Tobby', 'Pam', 'Jim', 'Kevin', 'Angela']

In [112]:
values

['Micheal', 'Tobby', 'Pam', 'Jim', 'Kevin']

In [114]:
record = {"Age1": 20, "Age2": 25, "Age3": 32, "Age4": 40}

In [116]:
record_alias = record

In [124]:
record_alias['Age5']= 27

In [126]:
record_alias

{'Age1': 20, 'Age2': 25, 'Age3': 32, 'Age4': 40, 'Age5': 27}

In [128]:
record

{'Age1': 20, 'Age2': 25, 'Age3': 32, 'Age4': 40, 'Age5': 27}

In [130]:
copy2 = record.copy()

In [132]:
copy2['Age6'] = 17

In [134]:
copy2

{'Age1': 20, 'Age2': 25, 'Age3': 32, 'Age4': 40, 'Age5': 27, 'Age6': 17}

In [136]:
record

{'Age1': 20, 'Age2': 25, 'Age3': 32, 'Age4': 40, 'Age5': 27}

If we make changes on the copied list (using list.copy()) it doesnt change the original. But in the first method we assigned new value to list(dict). They are the same but has different name. So when we make changes in the new value it changes the original too.

----------------------------------------------

# Task 3

In [208]:
%run m1_01_task_3_functions.py

In [204]:
list2= ["rOyA", '19.5', 17, 'hEllO ', True]

In [210]:
results1 = []
for value in list2:
    results1.append(converting(value))
print(results1)

[None, 19.5, None, None, None]

In [212]:
results3 = []
for value in list2:
    results3.append(cleaning(value))
print(results3)

['Roya', '19.5', None, 'Hello', None]

-----------------------------------

# Task 4

In [214]:
user_activity =[{'user_id': '1001', 'event_type': 'login', 'duration_seconds': 20},
               {'user_id': '1002', 'event_type': 'browse', 'duration_seconds': 180},
               {'user_id': '1003', 'event_type': 'logout', 'duration_seconds': 'a2r'},
               {'user_id': '1004', 'event_type': 'purchase', 'duration_seconds': 117},
               {'user_id': '1005', 'event_type': 'login', 'duration_seconds': 35},
               {'user_id': '1006', 'event_type': 'browse', 'duration_seconds': 78},
               {'user_id': '1007', 'event_type': 'logout', 'duration_seconds': 12},
               {'user_id': '1008', 'event_type': 'browse', 'duration_seconds': -123},
               {'user_id': '1009', 'event_type': 'purchase', 'duration_seconds': 120},
               {'user_id': '1010', 'event_type': 'login', 'duration_seconds': 27},
               {'user_id': '1011', 'event_type': 'browse', 'duration_seconds': 68},
               {'user_id': '1012', 'event_type': 'login' , 'duration_seconds': 45}
               ]

In [230]:
cleaned_events = []
for event in user_activity:
    duration = event.get("duration_seconds")
    if isinstance(duration, (int, float)) and duration >= 0:
        copy_event = event.copy()
        copy_event['duration_minutes'] = duration/60
        cleaned_events.append(copy_event)
print(len(cleaned_events))

10

In [232]:
cleaned_events

[{'user_id': '1001',
  'event_type': 'login',
  'duration_seconds': 20,
  'duration_minutes': 0.3333333333333333},
 {'user_id': '1002',
  'event_type': 'browse',
  'duration_seconds': 180,
  'duration_minutes': 3.0},
 {'user_id': '1004',
  'event_type': 'purchase',
  'duration_seconds': 117,
  'duration_minutes': 1.95},
 {'user_id': '1005',
  'event_type': 'login',
  'duration_seconds': 35,
  'duration_minutes': 0.5833333333333334},
 {'user_id': '1006',
  'event_type': 'browse',
  'duration_seconds': 78,
  'duration_minutes': 1.3},
 {'user_id': '1007',
  'event_type': 'logout',
  'duration_seconds': 12,
  'duration_minutes': 0.2},
 {'user_id': '1009',
  'event_type': 'purchase',
  'duration_seconds': 120,
  'duration_minutes': 2.0},
 {'user_id': '1010',
  'event_type': 'login',
  'duration_seconds': 27,
  'duration_minutes': 0.45},
 {'user_id': '1011',
  'event_type': 'browse',
  'duration_seconds': 68,
  'duration_minutes': 1.1333333333333333},
 {'user_id': '1012',
  'event_type': 'login',
  'duration_seconds': 45,
  'duration_minutes': 0.75}]

----------------------------------------

# Task 5

In [236]:
event_types = [event["event_type"] for event in cleaned_events]

In [238]:
event_types

['login',
 'browse',
 'purchase',
 'login',
 'browse',
 'logout',
 'purchase',
 'login',
 'browse',
 'login']

In [240]:
event_count = {}
for etype in set(event_types):
    event_count[etype] = event_types.count(etype)

In [242]:
event_count

{'logout': 1, 'login': 4, 'browse': 3, 'purchase': 2}

In [244]:
duration_by_type = {}

for event in cleaned_events:
    etype = event["event_type"]
    duration = event["duration_minutes"]
    if etype not in duration_by_type:
        duration_by_type[etype] = []
    duration_by_type[etype].append(duration)
average_duration = {etype: (sum(durations) / len(durations)) for etype, durations in duration_by_type.items()}

print(average_duration)

{'login': 0.5291666666666667, 'browse': 1.8111111111111111, 'purchase': 1.975, 'logout': 0.2}

In [246]:
unique_users = {event["user_id"] for event in cleaned_events}
print(len(unique_users))

10

In [252]:
sum(event_count.values())==len(cleaned_events)

True

In [262]:
columns = ["metric,key,value"]

In [256]:
event_count

{'logout': 1, 'login': 4, 'browse': 3, 'purchase': 2}

In [264]:
for key, count in event_count.items():
    columns.append(f'count,{key},{count}')

In [266]:
columns

['metric,key,value',
 'count,logout,1',
 'count,login,4',
 'count,browse,3',
 'count,purchase,2']

In [268]:
average_duration

{'login': 0.5291666666666667,
 'browse': 1.8111111111111111,
 'purchase': 1.975,
 'logout': 0.2}

In [270]:
for key, average in average_duration.items():
    columns.append(f'average,{key},{average:.2f}')

In [272]:
columns

['metric,key,value',
 'count,logout,1',
 'count,login,4',
 'count,browse,3',
 'count,purchase,2',
 'average,login,0.53',
 'average,browse,1.81',
 'average,purchase,1.98',
 'average,logout,0.20']

In [274]:
columns.append(f"unique_users,all,{len(unique_users)}")

In [276]:
columns

['metric,key,value',
 'count,logout,1',
 'count,login,4',
 'count,browse,3',
 'count,purchase,2',
 'average,login,0.53',
 'average,browse,1.81',
 'average,purchase,1.98',
 'average,logout,0.20',
 'unique_users,all,10']

In [278]:
csv_string = "\n".join(columns)
print(csv_string)

metric,key,value
count,logout,1
count,login,4
count,browse,3
count,purchase,2
average,login,0.53
average,browse,1.81
average,purchase,1.98
average,logout,0.20
unique_users,all,10

In [292]:
with open("user_activity.csv", "w") as csv_file:
    csv_file.write(csv_string)

In [282]:
import pandas as pd

In [284]:
df = pd.read_csv('user_activity.csv')
df.head()

    metric       key  value
0    count    logout   1.00
1    count     login   4.00
2    count    browse   3.00
3    count  purchase   2.00
4  average     login   0.53

In [286]:
import os

In [294]:
os.getcwd()

'C:\\Users\\royan\\Desktop\\m1-01-lab-ipython-python-basics-rn'

In [290]:
os.chdir("C:/Users/royan/Desktop/m1-01-lab-ipython-python-basics-rn")  # replace with your path

# Verify the change
print("New working directory:", os.getcwd())

New working directory: C:\Users\royan\Desktop\m1-01-lab-ipython-python-basics-rn